h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.review {
    border:1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.person-img {
    width:100px;
    height: 100px;
}